@model IEnumerable<PlamFarm.Models.Cow>
<div class="row">
    <div class="col-6">
        <div>
            <h1 style="font-size:28px;"> <a href="/Home/Index" class="me-2"><i class="fas fa-arrow-left" style="font-size:28px;"></i></a> <span style="font-size:28px;" id="farmName"></span></h1>
        </div>

    </div>
    <div class="col-6">
        <a asp-action="Create" class="btn btn-primary float-end"><i class="fas fa-plus"></i></a>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <h4>Current Cows</h4>
    </div>
    <div class="col-6">
        <select class="form-select" aria-labelledby="cowFilter" id="cowFilter">
            <option value="breed">Breed</option>
            <option value="sold">Sold</option>
            <option value="dead">Dead</option>
        </select>
    </div>
</div>


<table class="table table-striped" id="cowTable">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                <i class="fas fa-restroom"></i>
            </th>
            <th>
                Bday
            </th>
            <th>
                KPN
            </th>
            <th>
                aka
            </th>
            <th>
                Status
            </th>
            <th>
                Sold
            </th>
            <th>Grade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UId.ToString().Substring(@item.UId.ToString().Length - 3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @item.BirthDate.ToString("yy-MM-dd")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kpn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NickName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sold.FirstOrDefault().Price)₩
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sold.FirstOrDefault().Grade)
                </td>


                <td>
                    <a asp-action="Details" asp-route-id="@item.CowId"><i class="fas fa-info-circle" style="font-size:24px"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script type="text/javascript">
    $(document).ready( function () {
          var cowTable = $('#cowTable').DataTable({
              "lengthChange":false,
              "info": false,
              "order": [[ 2, "desc" ]],
              "columnDefs": [
      { "orderable": false, "targets": 0 },
      { "orderable": false, "targets": 5 },
      { "orderable": false, "targets": 8 },
      { "orderable": false, "targets": 4 },
      {
          "targets": [5, 6,7], "visible": false,
      }
      

    ]
          });

          cowTable.column(5).search("breed").draw();

          $("#cowFilter").on("change", function(){
              switch(this.value){
                  case "breed":
                     cowTable.column(6).visible(false);
                     cowTable.column(2).visible(true);
                     cowTable.column(7).visible(false);
                     cowTable.column(8).visible(true);
                    cowTable.column(5).search("breed").draw();
                    break;
                  case "dead" :
                    cowTable.column(6).visible(false);
                    cowTable.column(2).visible(true);
                    cowTable.column(7).visible(false);
                    cowTable.column(8).visible(false);
                    cowTable.column(5).search("dead").draw();
                    break;
                  case "sold" :
                    cowTable.column(6).visible(true);
                    cowTable.column(2).visible(false);
                    cowTable.column(7).visible(true);
                    cowTable.column(8).visible(false);
                    cowTable.column(5).search("sold").draw();
                    break;
              }

          });
      } );
</script>

<!--<script type="text/javascript">
    $(document).ready( function () {
    $('#cowTable').DataTable({
        "lengthChange": true,
        dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ]
    });
} );
 </script>-->
